/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@-webkit-keyframes glowing {
  /* line 8, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 10, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-khtml-keyframes glowing {
  /* line 14, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 15, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 16, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 20, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 21, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 22, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes glowing {
  /* line 26, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 27, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 28, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 32, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 33, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 34, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 38, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 39, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 40, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

/* line 25, ../_sass/modules/utility/buttons/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 43, ../_sass/modules/utility/buttons/_buttons.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 47, ../_sass/modules/utility/buttons/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 53, ../_sass/modules/utility/buttons/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 59, ../_sass/modules/utility/buttons/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
}

/* line 65, ../_sass/modules/utility/buttons/_buttons.scss */
.button-block {
  display: block;
}

/* line 74, ../_sass/modules/utility/buttons/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
}

/* line 84, ../_sass/modules/utility/buttons/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 100, ../_sass/modules/utility/buttons/_buttons.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 100, ../_sass/modules/utility/buttons/_buttons.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/* line 100, ../_sass/modules/utility/buttons/_buttons.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}

/* line 135, ../_sass/modules/utility/buttons/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: -moz-linear-gradient(top, #00b5e5, #008db2);
  background: -o-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(top, #00b5e5, #008db2);
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}
/* line 142, ../_sass/modules/utility/buttons/_buttons.scss */
.button-primary:hover {
  background-color: #00a1cb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -o-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(top, #00c9fe, #008db2);
}
/* line 146, ../_sass/modules/utility/buttons/_buttons.scss */
.button-primary:active {
  background: #1495b7;
  color: #005065;
}

/* line 135, ../_sass/modules/utility/buttons/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -o-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(top, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
/* line 142, ../_sass/modules/utility/buttons/_buttons.scss */
.button-action:hover {
  background-color: #7db500;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -o-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(top, #a0e800, #6b9c00);
}
/* line 146, ../_sass/modules/utility/buttons/_buttons.scss */
.button-action:active {
  background: #76a312;
  color: #374f00;
}

/* line 135, ../_sass/modules/utility/buttons/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -o-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(top, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}
/* line 142, ../_sass/modules/utility/buttons/_buttons.scss */
.button-highlight:hover {
  background-color: #f18d05;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fba42e, #d87e04);
  background: -moz-linear-gradient(top, #fba42e, #d87e04);
  background: -o-linear-gradient(top, #fba42e, #d87e04);
  background: linear-gradient(top, #fba42e, #d87e04);
}
/* line 146, ../_sass/modules/utility/buttons/_buttons.scss */
.button-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

/* line 135, ../_sass/modules/utility/buttons/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -o-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(top, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}
/* line 142, ../_sass/modules/utility/buttons/_buttons.scss */
.button-caution:hover {
  background-color: #e54028;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
  background: -webkit-linear-gradient(top, #eb6855, #d9331a);
  background: -moz-linear-gradient(top, #eb6855, #d9331a);
  background: -o-linear-gradient(top, #eb6855, #d9331a);
  background: linear-gradient(top, #eb6855, #d9331a);
}
/* line 146, ../_sass/modules/utility/buttons/_buttons.scss */
.button-caution:active {
  background: #cd5240;
  color: #952312;
}

/* line 135, ../_sass/modules/utility/buttons/_buttons.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99389f), color-stop(100%, #752a79));
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: -moz-linear-gradient(top, #99389f, #752a79);
  background: -o-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(top, #99389f, #752a79);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35);
}
/* line 142, ../_sass/modules/utility/buttons/_buttons.scss */
.button-royal:hover {
  background-color: #87318c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab3eb2), color-stop(100%, #752a79));
  background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
  background: -moz-linear-gradient(top, #ab3eb2, #752a79);
  background: -o-linear-gradient(top, #ab3eb2, #752a79);
  background: linear-gradient(top, #ab3eb2, #752a79);
}
/* line 146, ../_sass/modules/utility/buttons/_buttons.scss */
.button-royal:active {
  background: #764479;
  color: #3e1740;
}

/* line 160, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 169, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat:hover {
  background: #fbfbfb;
}
/* line 172, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 177, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-primary:hover {
  background: #00b5e5;
}
/* line 201, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #1495b7;
  color: #00647f;
}
/* line 206, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #7db500;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-action:hover {
  background: #8fcf00;
}
/* line 201, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-action:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #76a312;
  color: #486900;
}
/* line 206, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-highlight:hover {
  background: #fa9915;
}
/* line 201, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #d8891e;
  color: #a66103;
}
/* line 206, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-caution:hover {
  background: #e8543f;
}
/* line 201, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-caution:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #cd5240;
  color: #ac2815;
}
/* line 206, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 189, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 198, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-royal:hover {
  background: #99389f;
}
/* line 201, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-royal:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #764479;
  color: #501d53;
}
/* line 206, ../_sass/modules/utility/buttons/_buttons.scss */
.button-flat-royal.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 221, ../_sass/modules/utility/buttons/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 245, ../_sass/modules/utility/buttons/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px;
}

/* line 221, ../_sass/modules/utility/buttons/_buttons.scss */
.button-small {
  font-size: 16px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 245, ../_sass/modules/utility/buttons/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

/* line 221, ../_sass/modules/utility/buttons/_buttons.scss */
.button-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 245, ../_sass/modules/utility/buttons/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px;
}

/* line 265, ../_sass/modules/utility/buttons/_buttons.scss */
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing;
}
/* line 268, ../_sass/modules/utility/buttons/_buttons.scss */
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

/* line 279, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;
}
/* line 284, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown .button-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
/* line 295, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown .button .icon-caret-down {
  font-size: 90%;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
}
/* line 302, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-below {
  top: 115%;
}
/* line 305, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul.button-dropdown-menu-above {
  bottom: 115%;
  top: auto;
}
/* line 311, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fcfcfc;
  top: -2px;
  left: -2px;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  min-width: 102%;
}
/* line 325, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul li {
  padding: 0px;
  margin: 0px;
  display: block;
}
/* line 330, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul li:first-child a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 333, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul li:last-child a {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 339, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul .button-dropdown-divider {
  -webkit-box-shadow: inset 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 0px white;
  box-shadow: inset 0px 1px 0px white;
  border-top: 1px solid #e4e4e4;
}
/* line 344, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  white-space: nowrap;
}
/* line 353, ../_sass/modules/utility/buttons/_buttons.scss */
.button-dropdown ul a:hover {
  background-color: #3c6ab9;
  color: white;
}

@-webkit-keyframes glowing {
  /* line 8, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 10, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-khtml-keyframes glowing {
  /* line 14, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 15, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 16, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes glowing {
  /* line 20, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 21, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 22, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes glowing {
  /* line 26, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 27, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 28, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes glowing {
  /* line 32, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 33, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 34, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes glowing {
  /* line 38, ../_sass/modules/utility/buttons/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 39, ../_sass/modules/utility/buttons/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* line 40, ../_sass/modules/utility/buttons/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 21, ../_sass/modules/utility/flexslider/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 39, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 40, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 42, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 45, ../_sass/modules/utility/flexslider/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 46, ../_sass/modules/utility/flexslider/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 47, ../_sass/modules/utility/flexslider/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 52, ../_sass/modules/utility/flexslider/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Techangel Theme
*********************************/
/* line 56, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider {
  background: #fff;
  position: relative;
}

/* line 60, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 61, ../_sass/modules/utility/flexslider/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 62, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 63, ../_sass/modules/utility/flexslider/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 66, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 67, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 68, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 69, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 70, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 71, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 72, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 73, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 74, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}

/* line 75, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
/* line 78, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 79, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 80, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 81, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 84, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 85, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 86, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 87, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 88, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 90, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 91, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 92, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 93, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 94, ../_sass/modules/utility/flexslider/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 97, ../_sass/modules/utility/flexslider/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 98, ../_sass/modules/utility/flexslider/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* line 1, ../_sass/modules/utility/variables/_typography.scss */
body {
  font-family: "Droid Sans";
  margin: 0px;
  color: #8d8f92;
}

/* line 6, ../_sass/modules/utility/variables/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #474a4f;
}

/* line 9, ../_sass/modules/utility/variables/_typography.scss */
a {
  text-decoration: none;
}

/* line 17, ../_sass/modules/utility/variables/_typography.scss */
a#about,
a#services,
a#work,
a#contact {
  display: block;
  position: relative;
  top: -124px;
  visibility: hidden;
}

/* line 27, ../_sass/modules/utility/variables/_typography.scss */
#about.section-wrapper,
#services.section-wrapper,
#work.section-wrapper,
#contact.section-wrapper {
  padding: 80px 0;
}

/* line 33, ../_sass/modules/utility/variables/_typography.scss */
.section-block .sub-title {
  margin: 0 0 15px 0;
  font-size: 13px;
  font-weight: bold;
}
/* line 38, ../_sass/modules/utility/variables/_typography.scss */
.section-block .main-title {
  font-size: 55px;
  line-height: 1;
  margin-top: 0;
  text-transform: uppercase;
}

/* line 48, ../_sass/modules/utility/variables/_typography.scss */
#about .main-title,
#contact .main-title {
  color: #474a4f;
}
/* line 51, ../_sass/modules/utility/variables/_typography.scss */
#about .sub-title,
#contact .sub-title {
  color: #1c93c5;
  text-transform: uppercase;
}

/* line 61, ../_sass/modules/utility/variables/_typography.scss */
#services .main-title,
#services .sub-title,
#services h3.service-title,
#work .main-title,
#work .sub-title,
#work h3.service-title {
  color: #ffffff;
}

/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 27, ../_sass/modules/layouts/_onepage-layout.scss */
.content-wrapper,
.header-wrapper,
.section-wrapper {
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content-wrapper:after,
.header-wrapper:after,
.section-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 44em) {
  /* line 40, ../_sass/modules/layouts/_onepage-layout.scss */
  .header-block,
  .section-block,
  .footer-block {
    max-width: 1130px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  /* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header-block:after,
  .section-block:after,
  .footer-block:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 46, ../_sass/modules/layouts/_onepage-layout.scss */
  #navigation {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }

  /* line 49, ../_sass/modules/layouts/_onepage-layout.scss */
  .grid-3 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 184, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_grid.scss */
  .grid-3:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

  /* line 53, ../_sass/modules/layouts/_onepage-layout.scss */
  .grid-2 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 184, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_grid.scss */
  .grid-2:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  /* line 63, ../_sass/modules/layouts/_onepage-layout.scss */
  .header-block,
  .section-block,
  .footer-block {
    max-width: 1130px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  /* line 38, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header-block:after,
  .section-block:after,
  .footer-block:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 69, ../_sass/modules/layouts/_onepage-layout.scss */
  #navigation {
    width: 49.36709%;
    float: right;
    margin-right: 0;
  }

  /* line 72, ../_sass/modules/layouts/_onepage-layout.scss */
  .grid-3 {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  /* line 184, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_grid.scss */
  .grid-3:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

  /* line 76, ../_sass/modules/layouts/_onepage-layout.scss */
  .grid-2 {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
  }
  /* line 184, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/susy-1.0.9/sass/susy/_grid.scss */
  .grid-2:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
/* line 2, ../_sass/modules/sections/_contact.scss */
.contact-description p {
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
  color: #8d8f92;
  text-transform: uppercase;
}

/* line 10, ../_sass/modules/sections/_contact.scss */
#contact i.icon-envelope.inline-icon {
  font-size: 1em;
}
/* line 13, ../_sass/modules/sections/_contact.scss */
#contact .inline-icon {
  font-size: 2em;
  color: #D8D8D8;
  padding-right: 5px;
}

/* line 22, ../_sass/modules/sections/_contact.scss */
.button:hover,
button:hover,
input[type=submit]:hover {
  background: #187ca6;
  color: #fff;
}

/* line 27, ../_sass/modules/sections/_contact.scss */
input[type="password"] {
  margin: 15px 0;
}

/* line 35, ../_sass/modules/sections/_contact.scss */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  background: #f8f8f8;
  width: 100%;
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* line 48, ../_sass/modules/sections/_contact.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #a3a3a3;
  outline: 0;
}

/* line 56, ../_sass/modules/sections/_contact.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #76787c;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 65, ../_sass/modules/sections/_contact.scss */
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #76787c;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 4, ../_sass/modules/sections/_footer.scss */
#footer.section-wrapper {
  background-color: #1f2329;
}
/* line 10, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer.section-wrapper html, #footer.section-wrapper body {
  height: 100%;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer.section-wrapper #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -59px;
}
/* line 18, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer.section-wrapper #root #root_footer {
  height: 59px;
}
/* line 20, ../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer.section-wrapper #footer {
  clear: both;
  position: relative;
  height: 59px;
}

/* line 8, ../_sass/modules/sections/_footer.scss */
.footer-block {
  padding: 40px 0;
  color: #ffffff;
}

/* line 14, ../_sass/modules/sections/_footer.scss */
.footer-left
ul.social-links {
  margin-top: 10px;
}
/* line 16, ../_sass/modules/sections/_footer.scss */
.footer-left
ul.social-links li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
/* line 20, ../_sass/modules/sections/_footer.scss */
.footer-left
ul.social-links li a .inline-icon {
  font-size: 3em;
  color: #ffffff;
}

/* line 29, ../_sass/modules/sections/_footer.scss */
#backToTop {
  font-size: 2em;
}
/* line 31, ../_sass/modules/sections/_footer.scss */
#backToTop .inline-icon {
  color: #ffffff;
  text-align: right;
  padding-left: 2em;
}

/* line 39, ../_sass/modules/sections/_footer.scss */
.footer-right .copyright {
  text-align: right;
}
/* line 42, ../_sass/modules/sections/_footer.scss */
.footer-right a {
  color: #1c93c5;
}
/* line 45, ../_sass/modules/sections/_footer.scss */
.footer-right a:hover {
  color: #fff;
}

/* line 1, ../_sass/modules/sections/_header.scss */
#header {
  background: #1f2329;
  color: #fff;
  width: 100%;
  height: auto;
}

/* line 10, ../_sass/modules/sections/_header.scss */
#header a {
  color: #fff;
}

/* line 13, ../_sass/modules/sections/_header.scss */
.admin-bar #header {
  top: 28px;
}

/* line 17, ../_sass/modules/sections/_header.scss */
#logo {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
  float: left;
  transition: all 0.25s;
}

/* line 27, ../_sass/modules/sections/_header.scss */
.header-block {
  margin-bottom: 0;
}

/*! $Navigation & Menus */
/* line 33, ../_sass/modules/sections/_header.scss */
#primary-nav {
  margin-top: 16px;
}

/* line 36, ../_sass/modules/sections/_header.scss */
#primary-nav > ul {
  float: right;
}

/* line 39, ../_sass/modules/sections/_header.scss */
#primary-nav ul {
  margin: 0;
  padding: 0;
}

/* line 43, ../_sass/modules/sections/_header.scss */
#primary-nav ul ul {
  z-index: 1000;
  position: absolute;
  background: #1c93c5;
  top: 46px;
  overflow: visible !important;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ms-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}

/* line 55, ../_sass/modules/sections/_header.scss */
#primary-nav ul ul ul {
  top: 0;
}

/* line 58, ../_sass/modules/sections/_header.scss */
#primary-nav ul ul a:hover {
  color: #1f2329;
}

/* line 61, ../_sass/modules/sections/_header.scss */
#primary-nav ul ul li {
  margin: 0;
}

/* line 64, ../_sass/modules/sections/_header.scss */
#primary-nav li {
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  position: relative;
}

/* line 70, ../_sass/modules/sections/_header.scss */
#primary-nav li.sfHover > a, #primary-nav li.current-menu-item > a, #primary-nav li.active > a {
  background: #1c93c5;
}

/* line 73, ../_sass/modules/sections/_header.scss */
#primary-nav li a {
  display: block;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 82, ../_sass/modules/sections/_header.scss */
#primary-nav li a:hover {
  background: #1c93c5;
}

/* line 89, ../_sass/modules/sections/_header.scss */
.button,
button,
input[type=submit] {
  font-family: "Novecentowide-Bold", Helvetica, sans-serif;
  padding: 13px 37px 13px;
  line-height: 1;
  background: #1c93c5;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* line 2, ../_sass/modules/sections/_services.scss */
#services.section-wrapper {
  background-color: #CA5851;
}

/* line 7, ../_sass/modules/sections/_services.scss */
#services .section-block {
  background-color: #CA5851;
  color: #fff;
}

/* line 12, ../_sass/modules/sections/_services.scss */
.service-block {
  text-align: center;
}
/* line 14, ../_sass/modules/sections/_services.scss */
.service-block p {
  font-size: 18px;
  line-height: 25px;
}

/* line 19, ../_sass/modules/sections/_services.scss */
.service-icons {
  font-size: 6em;
}

/* line 2, ../_sass/modules/sections/_slideshow.scss */
#slideshow .slider-content {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 100;
  width: 100%;
  display: block;
  height: auto;
  color: #fff;
  text-align: center;
}

/* line 13, ../_sass/modules/sections/_slideshow.scss */
#slideshow .slider-content h2 {
  background: #1f2329;
  background: rgba(31, 35, 41, 0.9);
  font-size: 65px;
  display: inline-block;
  padding: 15px 25px 15px;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
}

/* line 28, ../_sass/modules/sections/_slideshow.scss */
#slideshow .slider-content h3 {
  background: #1c93c5;
  background: rgba(28, 147, 197, 0.9);
  font-size: 30px;
  display: inline-block;
  padding: 10px 25px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  color: #fff;
}

/* line 42, ../_sass/modules/sections/_slideshow.scss */
#slideshow a {
  color: #fff;
}

/* line 1, ../_sass/modules/sections/_work.scss */
#work.section-wrapper {
  background-color: #474a4f;
}

/* line 8, ../_sass/modules/sections/_work.scss */
#work .section-block {
  background-color: #474a4f;
  color: #fff;
}
/* line 12, ../_sass/modules/sections/_work.scss */
#work .portofolio-content {
  margin-bottom: 40px;
}
/* line 16, ../_sass/modules/sections/_work.scss */
#work a .work-title {
  background: #1f2329;
  letter-spacing: 1px;
  max-width: 80%;
  font-size: 20px;
  border-radius: 2px;
  padding: 20px 20px;
  color: #fff;
  line-height: 1;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  float: left;
}
/* line 30, ../_sass/modules/sections/_work.scss */
#work a .morelink {
  display: inline;
  float: left;
}
/* line 34, ../_sass/modules/sections/_work.scss */
#work a .inline-icon {
  border-radius: 2px;
  background-color: #1c93c5;
  display: inline-block;
  vertical-align: top;
  padding: 18px 20px;
  font-size: 1.5em;
  color: #ffffff;
}
