<section id="about" class="section-wrapper">    
    <div class="section-block ">
		  <p class="sub-title" >A Greek Drupal Shop. </p>
		  <h2 class="main-title" >TechAngel</h2>
			  
			  <h3 class="service-title"> Drupal - Solve difficult Problems</h3>
			  <div class="service-description">
			  <p>Drupal is the one of the most used open cource CMS in the world. We are really good in Drupal but we love all open source techologies that they will make our life easier.</p>   
			  </div>
       </div>
	</section>

