<section class="section-block ">
      <p class="sub-title" >THE TECHANGEL TEAM, WHO WE ARE</p>
      <h2 class="main-title" >GET IN TOUCH</h2>
    
    <div class="contact-block-left">
             <div class="contact-description"> 
                 <p>
                     <i class="icon-map-marker inline-icon"></i>
                        Thessaloniki/Greece
                     </p>

                    <p>
                        <i class="icon-envelope inline-icon"></i>
                        team@techangel.gr
                     </p>

                    <p>
                        <i class="icon-mobile-phone inline-icon"></i>
                        (+30) 6973 700 8119
                     </p>
                 </div>
            </div>
    
        <div class="contact-block-right">
            <form action="http://getsimpleform.com/messages?form_api_token=61cdf75d210a898a9c2caa21d0791ab8" method="post">
                <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                <input type='hidden' name='redirect_to' value='http://techangel.co/thankyou' />
                <!-- all your input fields here.... -->
                <input type='text' name='Name' placeholder="Name">
                <input type='text' name='Email' placeholder="Email">
                <textarea type='text' name='Message' placeholder="Message" rows="5"></textarea>
                <input type='submit' value='Send'>
            </form>
        </div>

</section>

