  <footer id="footer" class="section-wrapper">
    <div class="footer-block" role="contentinfo">       
        <div class="footer-left">
              <ul class="social-links">
                  <li><a href="//facebook.com/codestag" title="Proxy on facebook" class="facebook"><i class="icon-facebook-sign inline-icon"></i></a>
                      </li>
                  <li><a href="//twitter.com/techangelteam" title="Proxy on twitter" class="twitter"><i class="icon-twitter inline-icon"></i></a>
                      </li>   
                </ul>
              </div>
        <div class="footer-right">
            <span><strong>Copyright</strong> ©  2013 <a href="techangel.gr">Techangel</a> </span><a href="#" id="backToTop"><i class="icon-chevron-up inline-icon"></i></a>
        </div>       
      </div>
   </footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31451672-3', 'techangel.gr');
  ga('send', 'pageview');

</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Flexslider Library  -->
        <script src="/assets/js/flexslider.min.js"></script>
        <!-- Initialisation Code  -->
        <script src="/assets/js/app.js"></script>

