 <footer class="footer-block" role="contentinfo">
        
        <div class="grid-2 footer-left">
              <ul class="social-links">
<!--                  <li><a href="//facebook.com/codestag" title="Proxy on facebook" class="facebook"><i class="icon-facebook-sign inline-icon">-->
<!--</i></a></li>-->
                  <li><a href="//twitter.com/techangelteam" title="Proxy on twitter" class="twitter"><i class="icon-twitter inline-icon">
</i></a></li>             
                </ul>
              </div>
              <div class="grid-2 last footer-right">
                <span><strong>Copyright</strong> ©  2013 <a href="techangel.gr">Techangel</a> </span><a href="#" id="backToTop"><i class="icon-chevron-up inline-icon"></i></a>
              </div>
            </div>

        </div>
      </footer>


