<div class="contact-block-right">
        <form action="http://getsimpleform.com/messages?form_api_token=61cdf75d210a898a9c2caa21d0791ab8" method="post">
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
        <input type='hidden' name='redirect_to' value='http://techangel.co/thankyou' />
        <!-- all your input fields here.... -->
        <input type='text' name='Name' placeholder="Name">
        <input type='text' name='Email' placeholder="Email">
        <textarea type='text' name='Message' placeholder="Message" rows="5"></textarea>
        <input type='submit' value='Send'>
        </form>
    </div>