    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
<!--         test codeship -->
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- SCSS, baby -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- CDN Hosted jQuery  -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Font awesome Library  -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!--         Fonts -->
        <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Merriweather:400/Open+Sans:400,700/Lato:400">
        <!--Flexslider-->
<!--         <script type="text/javascript">
            // Can also be used with $(document).ready()
            $(window).load(function(){
                $('.flexslider').flexslider({
                    animation: "slide",
                    animationLoop: true,
                    pausePlay: true,
                    controlNav: false,
                    directionNav:false,
                    start: function(slider){
                        $('body').removeClass('loading');
                    }
                });
            });
            </script> -->
    </head>
