     <!-- BEGIN .header -->  
  <header id="header" class="header-wrapper" role="banner">    
      <!-- BEGIN .header-inner -->
      <div class="header-block clearfix">
        <!-- BEGIN #logo -->
        <div id="logo">
          <a href="/" title="Techangel">TechAngel</a>
        </div>
        <!-- END #logo -->

        <!-- BEGIN #primary-nav -->
        <nav id="navigation" role="navigation">
          <div id="primary-nav" class="primary-menu"><ul id="menu-main-navigation" class="menu sf-js-enabled sf-arrows">
<!--           <li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="#about">About</a></li> -->
<!--           <li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#services">Services</a></li> -->
          <li id="menu-item-123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-123"><a href="#work">Work</a></li>
<!--           <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="#team">Team</a></li> -->
<!--           <li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="/blog">Blog</a></li>  -->
          <li id="menu-item-83" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83"><a href="#contact" class="sf-with-ul">Contact</a>
<!--             <ul class="sub-menu sf-js-enabled sf-arrows" style="float: none; width: 10em; display: none;">
              <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230" style="white-space: normal; float: none; width: 100%;"><a href="http://demo.codestag.com/proxy/hello-world/" style="float: none; width: auto;">Submenu 1</a></li>
              <li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231" style="white-space: normal; float: none; width: 100%;"><a href="http://demo.codestag.com/proxy/hello-world/" style="float: none; width: auto;">Submenu 2</a></li>
              </ul> -->
            </li>
         </ul></div>
          <!-- END #primary-nav -->
        </nav>
        <!-- END .header-inner -->
      </div>    
    <!-- END .header -->
  </header>