 <section class="slideshow-block">
  <div class="flexslider">
    <ul class="slides">
      {% for slide in site.data.slideshow %}
      <li>
      <div class="slider-content">
          <div class="slider-content-inner">
             <h2>{{ slide.title }}</h2>                                
             <div class="clear"></div>
             <h3><a href="#">{{ slide.subtitle }}</a></h3>  
            </div>
          </div>
        <img src="{{ site.baseurl }}/{{ slide.image }}">
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
