<section  class="section-block work">

      <p class="sub-title" >Some of our clients</p>
      <h2 class="main-title" >Our Work</h2>

  <div class="">
  {% for post in site.categories['work'] %}
      <div class="portofolio-content">                      
            <a class="work-link" href="http://{{ post.link }}" target="_blank">

            <h3 class="work-title">{{ post.title }}</h3>

            <div class="morelink">
              <i class="fa fa-plus"></i>
              </div>                                       

            <img width="558" height="379" src="/{{ post.image }}" alt=" {{ post.alttext }} ">
            
              </a>
          </div>
       {% endfor %}  
    </div> 
 </section>
    
    


