body {
  font-family: "Droid Sans";
  margin: 0px;
  color: #4b4b57;
  font-weight: 400;
  font-size: 1em;
}

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
orphans: 3;
widows: 3;
margin: 0.75em 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #474a4f;
}

a {
    color: #37a;
    text-decoration: none;
}

.list-item {
    list-style-type: none;
}

a#about,
a#services,
a#work,
a#contact { 
  display: block;
  position: relative;
  top: -124px;
  visibility: hidden;
  }

#about.section-wrapper,
#services.section-wrapper,
#work.section-wrapper,
#contact.section-wrapper {
  padding: 80px 0;

}

.section-block {  
  .sub-title {
  margin: 0 0 15px 0;
  font-size: 13px;  
  font-weight: bold;
  }
   .main-title {
  font-size: 55px;
  line-height: 1;
  margin-top:0;
  text-transform: uppercase;
  }
}

#about,
#contact {
      .main-title {
        color: #474a4f;
      }
      .sub-title {
        color: #1c93c5;
        text-transform: uppercase;
      }
}

#services,
#work  {
      .main-title,
      .sub-title,
      h3.service-title {
        color: #ffffff;
        
      }
}