/* line 2, ../../../_sass/partials/sections/services.scss */
#services.section-wrapper {
  background-color: #CA5851;
}

/* line 7, ../../../_sass/partials/sections/services.scss */
#services .section-block {
  background-color: #CA5851;
  color: #fff;
}

/* line 12, ../../../_sass/partials/sections/services.scss */
.service-block {
  text-align: center;
}
/* line 14, ../../../_sass/partials/sections/services.scss */
.service-block p {
  font-size: 18px;
  line-height: 25px;
}

/* line 19, ../../../_sass/partials/sections/services.scss */
.service-icons {
  font-size: 6em;
}
