// Services
#services.section-wrapper {
    background-color: #CA5851;
  }

#services {
  .section-block {
      background-color: #CA5851;
      color: #fff;
    }
  }
.service-block {
  text-align: center;
    p {
      font-size: 18px;
      line-height: 25px;
    }
}
.service-icons {
  font-size: 6em;

}