<!DOCTYPE html>
<html>
    {% include head.html %} 
    <body>
        <div id="page">               
            <div id="container" class="blog-wrapper"> 
                {% include headerinclude.html %}  
                <div class="blogposts-content">
                        {% include blogpost-include.html %}                       
                    </div>        
                </div>
            </div>
           <div id="footer" class="section-wrapper">        
               {% include footerinclude.html %}    
            </div>
        </body>
    </html>