<!-- BEGIN #contact.section-block -->
    <section id="contact" class="section-block" data-bg="#ffffff" data-color="" data-link="" style="background-color: rgb(255, 255, 255);">

      <div class="inner-section">
        <p class="sub-title">The Proxy Team, who we are</p><h2 class="main-title">Get in Touch</h2>      </div>

            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=Apple+Store,+189+The+Grove+Drive,+Los+Angeles,+CA,+USA&amp;hl=en&amp;ll=34.072284,-118.356743&amp;spn=0.04991,0.090895&amp;sll=25.320185,82.986305&amp;sspn=0.217859,0.363579&amp;oq=apple&amp;hq=Apple+Store,+189+The+Grove+Drive,+Los+Angeles,+CA,+USA&amp;radius=15000&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      
      <div class="inner-section">
        <div class="grids">
          <div class="grid-6">
            <h3 class="sub-heading">Send a Direct Message or Visit us</h3>            <address>
              <p class="address"><i class="icon"></i>23 john adams street central london, uk</p><p class="email"><i class="icon"></i>john@example.com<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></p>            </address>

            <div class="description">Proxy is a Sophisticated Single-Page Wordpress theme made with mobile-first practices in mind by <a href="//codestag.com">Codestag</a>. Ideal to showcase your work in a clean, minimal and neat way. Ideal to showcase your work in a clean, minimal and neat way. </div>          </div>

          <div class="grid-6">

            <form action="#contact" method="post">
              

              

              <div class="row">
                <input type="text" name="contact_name" placeholder="Name" value="" required="">
                              </div>

              <div class="row">
                <input type="email" name="contact_email" placeholder="Email" value="" required="">
                              </div>

              <div class="row">
                <textarea name="contact_message" placeholder="Message" required=""></textarea>
                              </div>

              <div class="row">
                <button name="contact_submit" type="submit">Send</button>
              </div>

            </form>

          </div>
        </div>
      </div>

      <!-- END #contact.section-block -->
    </section>