<!DOCTYPE html>
<html>
    {% include head.html %} 
    <body> 
    <div id="page">                
        <div id="container" class="content-wrapper">  
               {% include headerinclude-frontpage.html %}  

          <div id="content" class="onepage-content">    
              <div id="about" class="section-wrapper">        
              {% include aboutinclude.html %}    
              </div>   

            <div id="work" class="section-wrapper">
            <a id="work" class="anchor"></a>        
            {% include workinclude.html %}    
             </div>

            <div id="contact" class="section-wrapper"> 
            <a id="contact" class="anchor"></a>       
<section class="section-block ">
      <p class="sub-title" >THE TECHANGEL TEAM, WHO WE ARE</p>
      <h2 class="main-title" >GET IN TOUCH</h2>

      {% for post in site.categories['contact'] %} 
          <div class="contact-block-left">

                  <div class="service-icons">
                    <div class="{{ post.icons }}" ></div>
                  </div>

                  <div class="contact-description"> {{ post.content }} </div>    

                </div>
            {% endfor %}
          <div class="contact-block-right">


</section>
              </div>
        </div>   
     </div> 

  {% include footerinclude.html %}    
 
 </body>
</html>

   

