  {% include headerhtmlinclude.html %}   
   
  {% include headerinclude.html %}  

  <!--     <div id="slideshow" class="content-wrapper">        
  {% include slideshowinclude.html %}    
  </div> -->


  <div id="about" class="section-wrapper">        
  {% include aboutinclude.html %}    
  </div>


  <div id="work" class="section-wrapper">
  <a id="work" class"anchor"></a>        
  {% include workinclude.html %}    
  </div>

  <!--     <a id="services" class"anchor"></a>
  <div id="services" class="section-wrapper">        
  {% include servicesinclude.html %}    
  </div> -->



  <div id="contact" class="section-wrapper"> 
  <a id="contact" class"anchor"></a>       
  {% include contactinclude.html %}    
  </div>

  {% include footerinclude.html %}    
 