<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <!-- SCSS, baby -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
        <!-- Google CDN Hosted jQuery  -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Flexslider Library  -->
        <script src="{{ site.baseurl }}/assets/js/flexslider.min.js"></script>
        <!-- Initialisation Code  -->
        <script src="{{ site.baseurl }}/assets/js/app.js"></script>

    </head>
    <body>

 
{% include headerinclude.html %}  

            
<div id="container" class="content-wrapper">  
  <div class="content">


    <div id="slideshow" class="content-wrapper">        
    {% include slideshowinclude.html %}    
      </div>

    <a id="services" class"anchor"></a>
    <div id="services" class="section-wrapper">        
    {% include servicesinclude.html %}    
      </div>

    <a id="work" class"anchor"></a>
    <div id="work" class="section-wrapper">        
    {% include workinclude.html %}    
      </div>
      
    <a id="contact" class"anchor"></a>
    <div id="contact" class="section-wrapper">        
      {% include contactinclude.html %}    
        </div>

    <div id="footer" class="section-wrapper">        
      {% include footerinclude.html %}    
        </div>
     </div>
  </div>
    <!-- END #container -->
    </html>
    </body>