<!DOCTYPE html>
<html>
    {% include head.html %} 
    <body>
     <div id="page">     
            {% include headerinclude.html %}             
        <div id="container" class="content-wrapper">  
          <div class="content">
              <a id="about" class="anchor"></a>
            <div id="about" class="section-wrapper">        
            {% include thankyouinclude.html %}    
              </div>
            <div id="footer" class="section-wrapper">        
              {% include footerinclude.html %}    
                </div>
             </div>
          </div>
        </div>
    </body>
</html>
