// contact
@import "susy";

.contact-block-left {
    @include span (6 of 12);
}

.contact-block-right {
     @include span ( 6 last of 12);
}

.contact-description p {
 font-size: 18px;
line-height: 35px;
font-weight: bold;
color: #8d8f92;
text-transform: uppercase;
}
#contact {
  i.icon-envelope.inline-icon {
      font-size: 1em;
    } 
  .inline-icon {
    font-size: 2em;
    color: #D8D8D8;
    padding-right: 5px;
  }
}

.button:hover,
button:hover,
input[type=submit]:hover {
  background: #187ca6;
  color: #fff;
}

input[type="password"] {
  margin: 15px 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  background: #f8f8f8;
  width: 100%;
  padding: 15px 20px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom:10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #a3a3a3;
  outline: 0;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #76787c;
  font-weight: bold;
  text-transform: uppercase;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #76787c;
  font-weight: bold;
  text-transform: uppercase;
}