// Footer
@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}
 
// usage if you're using the default element ids
/* @include sticky-footer(111px); */
 
// usage if you want to define the element ids
/* @include sticky-footer(30px, '#page', '#container', '#footer'); */


 @include sticky-footer(111px, '#page', '#container', '#footer');

    #footer.section-wrapper {
        background-color: #1f2329;
      }

    .footer-block{
      padding: 40px 0;
      color: #ffffff;
    }

	.footer-left
      ul.social-links {
        margin-top: 10px; 
        li {
          list-style: none;
          float: left;
          margin-right: 20px;
           a .inline-icon {
              font-size: 3em;            
              color: #ffffff;
            }
          }
      }

  #backToTop {
    font-size:2em;
    .inline-icon {
      color: #ffffff;
      text-align: right;
      padding-left: 2em;
    }
  }

  .footer-right {
       .copyright {
        text-align: right;
      }
        a {
        color: #1c93c5;
      }
        a:hover {
        color: #fff;
      }
    }