#header {
  background: #1f2329;
  color: #fff;
  // position: fixed;
  // top: 0;
  width: 100%;
  // z-index: 10001;
  height: auto;
}
#header a {
  color: #fff;
}
.admin-bar #header {
  top: 28px;
}

#logo {
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3em;
  float: left;
}

.header-block {
  margin-bottom:0;
}


/*! $Navigation & Menus */
#primary-nav {
  margin-top: 16px;
}
#primary-nav > ul {
  float: right;
}
#primary-nav ul {
  margin: 0;
  padding: 0;
}
#primary-nav ul ul {
  z-index: 1000;
  position: absolute;
  background: #1c93c5;
  top: 46px;
  overflow: visible !important;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ms-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}
#primary-nav ul ul ul {
  top: 0;
}
#primary-nav ul ul a:hover {
  color: #1f2329;
}
#primary-nav ul ul li {
  margin: 0;
}
#primary-nav li {
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  position: relative;
}
#primary-nav li.sfHover > a, #primary-nav li.current-menu-item > a, #primary-nav li.active > a {
  background: #1c93c5;
}
#primary-nav li a {
  display: block;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#primary-nav li a:hover {
  background: #1c93c5;
}

//Contact - forms
.button,
button,
input[type=submit] {
  font-family: "Novecentowide-Bold", Helvetica, sans-serif;
  padding: 13px 37px 13px;
  line-height: 1;
  background: #1c93c5;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}